<%= link_to "back to dashboard", dashboard_path(@user) %>
<div>
  <%= image_tag @avatar.variant(crop: "#{@person.face_width}x#{@person.face_height}+#{@person.face_offset_x}+#{@person.face_offset_y}") %>

  <h1><%= @person.name %></h1>
</div>
<%= link_to "edit person", edit_person_path(@person) %>
<h3>Images</h3>
<% @images.each do |image| %>
  <div>
    <%= image_tag image.image %>
    <%= link_to "See more", show_image_url(image) %>
  </div>
<% end %>

<h3>Friendships</h3>
<h4>immediate</h4>
<% @friends.each do |friend| %>
  <p>
    <%= link_to friend.name, person_path(friend) %>
    <h5>mutual</h5>
    <ul>
      <% @hash_mutual_friends[friend.id].each do |mutual_friend| %>
       <p><%= link_to mutual_friend.name, person_path(mutual_friend) %></p>
      <% end %>
    </ul>
  </p>
<% end %>

<h4>second</h4>
<% @second_friends.each do |second_friend| %>
  <p>
    <%= link_to second_friend.name, person_path(second_friend) %>
  </p>
<% end %>
