<h1><%= @person.name %></h1>
<h3>Images</h3>
<%= @images.each do |image| %>
  <div>
    <%= image_tag image.url %>
    <%= link_to "See more", show_image_url(image) %>
  </div>
<% end %>

<h3>Friendships</h3>
<h4>immediate</h4>
<%= @friends.each do |friend| %>
  <p>
    <%= link_to friend.name, person_path(friend) %>
    <ul>
      <%= @hash_mutual_friends[friend.id].each do |mutual_friend| %>
        <%= link_to mutual_friend.name, person_path(mutual_friend) %>
      <% end %>
    </ul>
  </p>
<% end %>

<h4>second</h4>
<%= @second_friends.each do |second_friend| %>
  <p>
    <%= link_to second_friend.name, person_path(second_friend) %>
  </p>
<% end %>
