<%= link_to "back to dashboard", dashboard_path(@user) %>
<div>  
  <img src="<%= @person.avatar_url %>" style= "width: 100px;">
  <h1><%= @person.name %></h1>
</div>
<br>

<%= link_to "edit person", edit_person_path(@person) %>
<h3>Images</h3>
<% @images.each do |image| %>
  <div>
    <img src="<%= image.url %>" style="width: 200px;">
    <%= link_to "See more", show_image_url(image) %>
  </div>
<% end %>
<br>

<h3>Friendships</h3>
<div style="display: flex">
  <div style="padding-right: 2%">
    <h4>immediate</h4>
    <% @friends_and_degrees.each do |friend, degree| %>
      <div>
        <%= link_to friend.name, person_path(friend) %>
        <p>degree: <%= degree %></p>
      </div>
    <% end %>
  </div>
</div>