<p> Hello <%= @user.username %></p>
<%= link_to "Add image", add_image_path(@user)%>
<h3>Images</h3>
<%= @images.each do |image| %>
  <div>
    <%= image_tag image.url %>
  </div>
<% end %>

<h3><%= @person_group.name %></h3>
<h4>People</h4>
<ul>
  <%= @people.each do |person| %>
      <li><%= person.name %></li>
  <% end %>
</ul>
