<div>
  <%= form_tag(search_path, {:method => :get}) %>
  <p>Search <%= text_field_tag :names %></p>
  <%= text_field_tag(:id, @user.id, {type: :hidden}) %>
  <%= submit_tag 'Search' %>
</div>
<p> Hello <%= @user.username %></p>
<%= link_to "Add image", add_image_path(@user)%>
<h3>Images</h3>
<% @images.each do |image| %>
    <img src="<%= image.url %>" style="width: 200px;">
<% end %>

<h3><%= @person_group.name %></h3>
<h4>People</h4>
<ul>
  <% @people.each do |person| %>
      <li>
        <%= link_to person.name, person_path(person) %>
      </li>
  <% end %>
</ul>

<p> 1. Sign in with any name </p>
<p> 2. Select "Add Image" </p>
<p> 3. Add any photos you have with people in it! This will kick off the process of scanning for faces while categorizing them by person.  </p>
<p> 4. Visit a person's page to see all the photos they are in. </p>
<p> 5. You can also search by object or person's name (editable) to view all photos that are found with the object/name. </p>
<p> 6. Check out https://github.com/GarlandZhang/face for more. </p>